:root {
    --grass-green: #4CAF50;
    --light-beige: #F5F5DC;
    --cream-white: #FFFDD0;
    --dark-green: #388E3C;
    --sand-color: #D2B48C;
}

body, .top-container, nav, .text-container, .team-info-card, footer {
    display: flex;
}

body, footer {
    justify-content: center;
}

.top-container, .text-container, .team-info-card {
    align-items: center;
}

.text-container, .team-info-card {
    flex-direction: column;
}

.main-container, .text-container {
    gap: 10px;
}

body {
    background-color: var(--grass-green);
    font-family: sans-serif;
}

main, .text-container, .team-info-card {
    border: solid 1px black;
}

.text-container, .team-info-card {
    border-radius: 10px;
}

main {
    width: 80vw;
}

.top-container {
    background-color: var(--cream-white);
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1.5px solid black;
}

nav {
    gap: 30px;
}

.main-container {
    background-color: var(--dark-green);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.text-container {
    background-color: var(--cream-white);
    grid-column: span 3;
    padding: 15px;
}

p, h2 {
    margin: 0;
}

.team-info-card {
    background-color: var(--cream-white);
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: large;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cream-white);
    padding: 10px;
    border-top: 1.5px solid black;
}

@media (max-width: 1125px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}