:root {
    --grass-green: #4CAF50;
    --light-beige: #F5F5DC;
    --cream-white: #FFFDD0;
    --dark-green: #388E3C;
    --sand-color: #D2B48C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Makes padding and border included into total size */
}

body {
    background-color: var(--grass-green);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

main {
    background-color: var(--dark-green);
    width: 80vw;
    display: grid;
    grid-template-rows: auto 1fr auto; /* header grid footer */
    gap: 10px;
    border: 1px solid black;
}

header, footer {
    background-color: var(--cream-white);
    padding: 10px;
    text-align: center;
}

header {
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: start;
    align-items: center;
}

footer {
    border-top: 2px solid black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.text-info-box {
    background-color: var(--cream-white);
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.team-info-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* auto-fit creates as many columns as the space allows */
    gap: 10px;
}

.team-info-card {
    background-color: var(--cream-white);
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

.team-name-h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: large;
    color: black;
}

a:hover {
    text-decoration: underline;
}