:root {
    --grass-green: #4CAF50;
    --light-beige: #F5F5DC;
    --cream-white: #FFFDD0;
    --dark-green: #388E3C;
    --sand-color: #D2B48C;
}

body, .top-container, nav, .main-container, .text-container, .team-info-cards-container, .team-info-card, footer {
    display: flex;
}

body, .team-info-cards-container, footer {
    justify-content: center;
}

.top-container, .main-container, .text-container, .team-info-card {
    align-items: center;
}

.main-container, .text-container, .team-info-card {
    flex-direction: column;
}

.main-container, .text-container, .team-info-cards-container {
    gap: 10px;
}

body {
    background-color: var(--grass-green);
    font-family: sans-serif;
}

main, .text-container, .team-info-card {
    border: solid 1px black;
}

.text-container, .team-info-card {
    border-radius: 10px;
}

main {
    width: 80vw;
}

.top-container {
    background-color: var(--cream-white);
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1.5px solid black;
}

nav {
    gap: 30px;
}

.main-container {
    background-color: var(--dark-green);
    padding: 20px;
}

.text-container {
    background-color: var(--cream-white);
    padding: 15px;
}

p, h2 {
    margin: 0;
}

.team-info-cards-container {
    flex-wrap: wrap;
    width: 100%;
}

.team-info-card {
    background-color: var(--cream-white);
    width: 30%;
    padding: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: large;
    color: black;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--cream-white);
    padding: 10px;
    border-top: 1.5px solid black;
}

@media (max-width: 1125px) {
    .team-info-card {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .main-container {
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .team-info-card {
        width: 90%;
    }
}